.main {
  color: #fff;
  display: flex;
  height: 100vh;
  margin: auto;

  &--container {
    margin: auto;
    max-width: 40rem;
  }
  &--title {
    font-size: 2.6875rem;
    letter-spacing: -.05rem;
  }

  &--facts {
    font-size: 1.2rem;
    margin-top: 3rem;
    max-width: 28rem;

    li {
      line-height: 1.1875rem;
      padding-block: 0.625rem;

      &::marker {
        color: #61dafb;
        font-size: 1.785rem;
      }
    }
  }
}